@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h3 {
    @apply text-xl
  }

  h2 {
    @apply text-3xl mb-3 font-semibold
  }
  
  section {
    @apply py-4
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    margin: 10px 0;
    background: #18181b;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100vh;
    border: 1px solid #18181b;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}